<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хьюстон, у нас нет проблем</title>
</head>
<body>
    <h2>Добро пожаловать в приложение «Список дел»</h2>
    <p>monday - Составляем план на неделю</p>
    <p>tuesday - Пишем план на неделю</p>
    <p>wednesday - Редактируем план на неделю</p>
    <p>thursday - Согласуем план на неделю</p>
    <p>friday - Вешаем план на стенку</p>
    <p>saturday - Делаем пометки в плане</p>
    <p>sunday - Обдумываем новый план</p>
</body>
</html>