<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бизнес план</title>
</head>
<body>
Summary
●	The product ‘KidReads’ solves the problem of making reading education easy and enjoyable
●	KidReads is a reading platform which provides voice interaction with colorful stories, adaptive education plan and community to share progress with friends
●	The expected cumulative revenue for the next three years is approximately
$1.3 million with a cumulative profit of $330K

</body>
</html>