{% extends 'base.html' %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>Главная страница</h2>-->
<!--    <h4>Добро пожаловать в мой блог</h4>-->
<!--</body>-->
<!--</html>-->
{% block content %}
    <div class="leftcolumn">
        {% for pst in posts_ls %}
            <div class="card">
                <h2>{{pst.title}}</h2>
                <h5>{{pst.description}} {{pst.date}}</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>{{pst.content}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

